@import 'normalize.css'; 
@import 'fonts.css';

@keyframes exibir {
  0% { 
        display: none; 
        opacity :0; 
    }
  1% { 
      display: block; 
      background-color: black;
      transform: scale(.1) rotate(160deg);
    }
  80% {
      background-color: pink;
    transform: scale(2) rotate(260deg);
  }  
  100% { 
      opacity: 1; 
      background-color: blue;
      transform: scale(1) rotate(0deg);
    }
}

@keyframes vim-da-esquerda {
    from {
        opacity :0;
        transform: translateX(-300px);

    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes vim-da-direita {
    from {
        opacity :0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

.navigation {
    background-color: #363732;
    float: left;
    width: 100%;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    float: left;
}

.navigation ul li a {
    padding: 10px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 2px #ccc;
    transition: all .3s ease-in-out;
}

.navigation ul li a:hover {
  background-color: #fff;
  color: #333;
}

.meu-link {
    display: block;
}

.linha {
    display: inline;
}

.invisivel {
    visibility: hidden;
}

.box {
    background: yellow;
    margin: 10px;
    padding: 10px;
    border: 10px solid #000;
    transition: all 1s ease-in-out;
    width: 100px;
    height: 50px;
}

.box:hover {
    width: 1000px;
    height: 1000px;
}

.exemplo-hover1 {
    background: #f1f1f1;
    padding:  10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333; 
}

.exemplo-hover1 .nivel1 {
    border: 1px solid #000;
    background: red;
    color: #fff;
    padding:  10px;
    margin: 10px;
    border-radius: 5px;
    display: none;
}

.exemplo-hover1 .nivel2 {
    background: #ccc;
    color: #fff;
    padding:  10px;
    margin: 10px;
    border-radius: 5px;
    display: none;
}

.exemplo-hover1:hover .nivel1 {
    display: block;
}

.exemplo-hover1 .nivel1 .nivel2 {
    display: none;
}

.exemplo-hover1:hover .nivel1:hover .nivel2 {
    display: block;
}

input,
textarea,
select,
button {
    border: 1px solid #333;
    box-shadow: inset 1px 2px 2px #333;
    border-radius: 2px;
    padding: 2px;
    margin : 2px;
    border : 4px solid #333;
    transition: 2s border ease-in-out;
}

button,
input[type=reset],
input[type=submit],
input[type=button] {
    background-color: #008080;
    color: #fff;
    border: 1px solid;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #333;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
    border: 2px solid red;
}


input:hover,
textarea:hover,
button:hover,
select:hover {
    border: 2px solid green;
}


input:active,
textarea:active,
button:active,
selectborder {
    border: 2px solid blue;
}
label {
    vertical-align: top;
}

input:not(.botao) {
    border: 10px solid orange;
}

.botao:not(.he-man):not(.he-man2) {
    background: blue;

}

.lista { 
    margin: 0;
    list-style: none;
    padding: 0;
}

.lista li {
   padding: 5px;
   background: #ccc;
   color: blue;
   font-weight: bold;
}

.lista li:first-child {
    color: yellow;
}

.lista li:last-child {
    color: green;
}

.lista-zebrada {
    background:#f1f1f1;
    list-style: none;
    padding: 0;
}

.lista-zebrada li {
  padding: 5px;
}

.lista-zebrada li:nth-child(odd) {
    background: #ccc; 
}

.lista-zebrada-item {
list-style: none;
}

.lista-zebrada li:nth-child(even) {
    background: paleturquoise;
}

.lista-zebrada-item .item:nth-child(odd) {
    background: red;
    animation: 5s vim-da-direita;
}

.lista-zebrada-item .item:nth-child(even) {
    background: yellow;
    animation: 5s vim-da-esquerda;
}

.box2 div:nth-of-type(3n+1  ){
  background: red;
}